<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登录商城</title>
	<link rel="stylesheet" href="{:C('CSS')}/base.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS')}/global.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS')}/header.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS')}/login.css" type="text/css">
	<link rel="stylesheet" href="{:C('CSS')}/footer.css" type="text/css">
</head>
<body>
	
	<include file="public/header2"/>
	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10">
		<div class="login_hd">
			<h2>用户登录</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="" method="post">
					<ul>
						<li>
							<label for="txt">用户名：</label>
							<input type="text" class="txt" name="username" id="txt"/>
							<p style="padding-left:54px;color:darkred;"><present name="msg['username']">{$msg['username']}</present></p>
						</li>
						<li>
							<label for="pwd">密码：</label>
							<input type="password" class="txt" id="pwd" name="password" />
							<a href="">忘记密码?</a>
							<p style="padding-left:54px;color:darkred;"><present name="msg['password']">{$msg['password']}</present></p>
						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text"  name="checkcode" />
							<img width="150" height="32" src="{:U('code')}" alt="" onclick="change()" id="code" style="cursor:pointer;"/>
							<span>看不清？<button type="button" onclick="change()">换一张</button></span>
							<p style="padding-left:54px;color:darkred;"><present name="msg['checkcode']">{$msg['checkcode']}</present></p>
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="checkbox" class="chb"  /> 保存登录信息
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>

				<div class="coagent mt15">
					<dl>
						<dt>使用合作网站登录商城：</dt>
						<dd class="qq"><a href=""><span></span>QQ</a></dd>
						<dd class="weibo"><a href=""><span></span>新浪微博</a></dd>
						<dd class="yi"><a href=""><span></span>网易</a></dd>
						<dd class="renren"><a href=""><span></span>人人</a></dd>
						<dd class="qihu"><a href=""><span></span>奇虎360</a></dd>
						<dd class=""><a href=""><span></span>百度</a></dd>
						<dd class="douban"><a href=""><span></span>豆瓣</a></dd>
					</dl>
				</div>
			</div>
			
			<div class="guide fl">
				<h3>还不是商城用户</h3>
				<p>现在免费注册成为商城用户，便能立刻享受便宜又放心的购物乐趣，心动不如行动，赶紧加入吧!</p>

				<a href="{:U('register')}" class="reg_btn">免费注册 >></a>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->

	<include file="public/footer2"/>

	<script>
		function change(){
			var code = document.getElementById('code');
			code.src = '{:U('code')}'+'?id='+Math.random();
		}
	</script>
</body>
</html>