
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>购物车页面</title>
    <link rel="stylesheet" href="{:C('CSS')}/base.css" type="text/css">
    <link rel="stylesheet" href="{:C('CSS')}/global.css" type="text/css">
    <link rel="stylesheet" href="{:C('CSS')}/header.css" type="text/css">
    <link rel="stylesheet" href="{:C('CSS')}/cart.css" type="text/css">
    <link rel="stylesheet" href="{:C('CSS')}/footer.css" type="text/css">

    <script type="text/javascript" src="{:C('JS')}/jquery-1.8.3.min.js"></script>
   <!--  <script type="text/javascript" src="{:C('JS')}/cart1.js"></script> -->
    <link rel="stylesheet" href="{:C('CSS')}/fillin.css" type="text/css">
	<script type="text/javascript" src="{:C('JS')}/cart2.js"></script>
</head>
<body>
	<!-- 顶部导航 start -->
    <include file="public/header"/>
    <!-- 顶部导航 end -->
<div style="clear:both;"></div>
<!-- 页面头部 start -->
    <include file="public/flow"/>
    <!-- 页面头部 end -->
<!-- 主体部分 start -->
<div class="fillin w990 bc mt15">
	<form action="" method="post">
    <div class="fillin_hd">
        <h2>填写并核对订单信息</h2>
    </div>
    <div class="fillin_bd">
        <!-- 收货人信息  start-->
        <div class="address">
            <h3>收货人信息 <a href="javascript:;" id="address_modify">[修改]</a></h3>
            <div class="address_info">
                <p>王超平  13555555555 </p>
                <p>北京 昌平区 西三旗 建材城西路金燕龙办公楼一层 </p>
            </div>
            <div class="address_select ">
                <ul>
                    <li class="cur">
                        <input type="radio" name="cgn_id" checked="checked" value="35"/>王超平 北京市 昌平区 建材城西路金燕龙办公楼一层 13555555555 
                        <a href="">设为默认地址</a>
                        <a href="">编辑</a>
                        <a href="">删除</a>
                    </li>
                    <li>
                        <input type="radio" name="cgn_id"  value="36"/>王超平 湖北省 武汉市  武昌 关山光谷软件园1号201 13333333333
                        <a href="">设为默认地址</a>
                        <a href="">编辑</a>
                        <a href="">删除</a>
                    </li>
                </ul>   
            </div>
        </div>
        <!-- 收货人信息  end-->
        
        <!-- 支付方式  start-->
        <div class="pay">
            <h3>支付方式 <a href="javascript:;" id="pay_modify">[修改]</a></h3>
            <div class="pay_select ">
                <table> 
                    <tr class="cur">
                        <td class="col1"><input type="radio" name="order_pay" value="支付宝" checked="checked"/>支付宝</td>
                    </tr>
                    <tr>
                        <td class="col1"><input type="radio" name="order_pay" value="微信"/>微信</td>
                    </tr>
                    <tr>
                        <td class="col1"><input type="radio" name="order_pay" value="银行卡"/>银行卡</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 支付方式  end-->

        <!-- 发票信息 start-->
        <div class="receipt">
            <h3>发票信息 <a href="javascript:;" id="receipt_modify">[修改]</a></h3>
            <div class="receipt_info">
                <p>个人发票</p>
                <p>内容：明细</p>
            </div>
            <div class="receipt_select ">
               <ul>
                   <li>
                       <label for="">发票抬头：</label>
                       <input type="radio" name="order_fapiao_title" checked="checked" class="personal" value="0"/>个人
                       <input type="radio" name="order_fapiao_title" class="company" value="1"/>单位
                       <input type="text" name="order_fapiao_company" class="txt company_input" disabled="disabled" />
                   </li>
                   <li>
                       <label for="">发票内容：</label>
                       <input type="radio" name="order_fapiao_content" checked="checked" value="明细"/>明细
                       <input type="radio" name="order_fapiao_content" value="办公用品"/>办公用品
                       <input type="radio" name="order_fapiao_content" value="体育休闲"/>体育休闲
                       <input type="radio" name="order_fapiao_content" value="耗材"/>耗材
                   </li>
               </ul>    
            </div>
        </div>
        <!-- 发票信息 end-->

        <!-- 商品清单 start -->
        <div class="goods">
            <h3>商品清单</h3>
            <table>
                <thead>
                    <tr>
                        <th class="col1">商品</th>
                        <th class="col2">规格</th>
                        <th class="col3">价格</th>
                        <th class="col4">数量</th>
                        <th class="col5">小计</th>
                    </tr>   
                </thead>
                <tbody>
                <volist name="goods" id="vo">
                    <tr>
                        <td class="col1"><a href=""><img src="{$vo['goods_small_logo']}" alt="" /></a>  <strong><a href="">【1111购物狂欢节】惠JackJones杰克琼斯纯羊毛菱形格</a></strong></td>
                        <td class="col2"> <p>颜色：073深红</p> <p>尺码：170/92A/S</p> </td>
                        <td class="col3">￥{$vo['goods_price']}</td>
                        <td class="col4"> {$vo['goods_buy_number']}</td>
                        <td class="col5"><span>￥{$vo['goods_total_price']}</span></td>
                    </tr>
                </volist>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul>
                                <li>
                                    <span>{$price['number']} 件商品，总商品金额：</span>
                                    <em>￥{$price['price']}</em>
                                </li>
                                <li>
                                    <span>返现：</span>
                                    <em>-￥240.00</em>
                                </li>
                                <li>
                                    <span>运费：</span>
                                    <em>￥10.00</em>
                                </li>
                                <li>
                                    <span>应付总额：</span>
                                    <em>￥{$price['price']}</em>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- 商品清单 end -->
    
    </div>

    <div class="fillin_ft">
        <input type="submit" value="提交订单"<empty name="price['price']">disabled="disabled"</empty>/>
        <p>应付总额：<strong>￥{$price['price']}元</strong></p>
        
    </div>
    </form>
</div>
<!-- 主体部分 end -->

<div style="clear:both;"></div>
<!-- 底部版权 start -->
<include file="public/footer2"/>
<!-- 底部版权 end -->
